.container {
    width: 100%;
    height: 50px;
    background-color: rgb(189, 178, 168);
    overflow: hidden;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    position: relative;
    color: aquamarine;
    font-size: 20px;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }